@media only screen and (max-width: 1681px) {
  .hero {
    -webkit-background-size: 150% 150%;
            background-size: 150%; }
  .pop-up .feedback__holder {
    width: 66%; }
  .hero h1 {
    font-size: 80px; }
  .hero__left-col {
    padding-top: 85px;
    padding-bottom: 140px; }
  .hero .description {
    font-size: 36px;
    padding-bottom: 50px;
    right: 0;
    margin-right: -40px; }
    .hero .description::before {
      left: -120px;
      bottom: 10%; }
  .animation-block {
    width: 70%;
    top: 10%;
    left: 22%; }
  .hero .info {
    width: 53%;
    line-height: 24px;
    font-size: 16px; }
  .trust {
    background-position: -200px center; }
  .partners {
    -webkit-background-size: auto auto;
            background-size: auto; }
  .muve__title {
    font-size: 60px; }
  .iso-form:before {
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-position: -30px 24%; }
  .about__title {
    font-size: 80px; }
  .contacts::after {
    height: -webkit-calc(100% + 180px);
    height: calc(100% + 180px);
    width: 86%;
    -webkit-background-size: contain;
            background-size: contain; }
  .contacts .muve__title {
    text-align: left;
    white-space: nowrap; }
  .animation-block {
    width: 65%;
    top: 10%;
    left: auto;
    right: 0; }
  .animation-block::before {
    width: 105%; } }

@media only screen and (max-width: 1279px) {
  .hero .description {
    font-size: 30px; }
  .contacts::after {
    height: -webkit-calc(100% + 130px);
    height: calc(100% + 130px);
    width: 90%; } }

@media only screen and (max-width: 1199px) {
  .benefits__title {
    font-size: 24px;
    line-height: 1; }
  .main-nav ul {
    margin-left: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main-nav ul a {
      padding: 0 20px; }
  .trust h2 {
    font-size: 66px; }
  .feedback__holder {
    width: 100%; }
  .contacts {
    padding-bottom: 150px; }
    .contacts::after {
      height: -webkit-calc(100% + 130px);
      height: calc(100% + 130px);
      width: 86%;
      -webkit-background-size: contain;
              background-size: contain; }
  .about {
    padding-top: 150px;
    padding-bottom: 80px; }
  .about__title {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 50px; }
  .contacts .muve__title {
    font-size: 48px;
    margin-bottom: 40px; }
  .contacts::after {
    width: 76%; }
  .contact__info {
    font-size: 18px;
    line-height: 30px; }
  .hero h1 {
    font-size: 70px;
    line-height: 1; }
  .hero .btn {
    display: inline-block;
    margin-right: 20px; }
    .hero .btn + .btn {
      margin-bottom: 42px; }
  .hero .description {
    font-size: 24px;
    line-height: 30px;
    white-space: normal; }
    .hero .description br {
      display: none; }
  .trust {
    padding-top: 44px;
    padding-bottom: 70px; }
  .trust__left-col {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .trust__left-col h2 {
      margin-bottom: 0; }
  .success .brend-lincks {
    padding-top: 30px;
    padding-bottom: 60px; }
  .success h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 320px; }
  .muve__title {
    font-size: 35px;
    margin-bottom: 70px; }
  .syndication__gradient-text span {
    font-size: 24px; } }

@media only screen and (max-width: 992px) {
  .animation-block::before {
    width: 100%;
    bottom: 20%; }
  .pop-up .feedback__holder {
    width: 80%;
    padding-right: 32px;
    padding-left: 32px; }
  .about {
    padding-top: 150px;
    padding-bottom: 80px; }
  .about__subtitle {
    padding-top: 14px;
    font-size: 18px;
    margin-bottom: 30px; }
  .muve__iframe {
    width: 88%;
    height: 360px; }
    .muve__iframe iframe {
      height: 360px; }
  .btn__muve {
    width: 80px; }
  .muve .partners__subtitle {
    padding-bottom: 20px;
    font-size: 22px; }
  .muve__subtitle {
    margin-bottom: 20px; }
  .merchants {
    -webkit-background-size: 80% 80%;
            background-size: 80%; }
  .merch-list__title {
    font-size: 42px; }
  .merch__item {
    padding-left: 80px; }
  .merch__item:nth-child(odd) {
    -webkit-flex-basis: 42%;
        -ms-flex-preferred-size: 42%;
            flex-basis: 42%; }
  .merch__item:nth-child(even) {
    margin-left: 18px;
    -webkit-flex-basis: -webkit-calc(58% - 18px);
        -ms-flex-preferred-size: calc(58% - 18px);
            flex-basis: calc(58% - 18px); }
  .merch__item:nth-child(1)::after, .merch__item:nth-child(3)::after {
    width: 360px;
    left: 90%; }
  .merch__item:nth-child(2)::after {
    width: 290px; }
  .syndication .muve__title {
    font-size: 35px;
    margin-bottom: 18px; }
  .about__title {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 50px; }
  .contacts .muve__title {
    font-size: 48px;
    margin-bottom: 40px; }
  .contacts::after {
    width: 76%; }
  .contact__info {
    font-size: 18px;
    line-height: 30px; }
  .muve__title {
    font-size: 35px;
    margin-bottom: 18px; }
  .contacts::after {
    width: 120%;
    height: 520px;
    bottom: auto;
    top: -100px; }
  .contacts .muve__title {
    margin-top: 370px;
    text-align: center; }
  .contacts .contact__info {
    text-align: center; }
  .partners::after, .partners::before {
    content: none; }
  .trust h2 {
    font-size: 80px; }
  .logo {
    display: none; }
  .main-content {
    padding-top: 105px; }
  .body {
    font-size: 16px; }
  header .mobile-nav {
    display: block; }
    header .mobile-nav .btn-close {
      display: none; }
    header .mobile-nav .logo {
      display: block;
      margin-top: 0; }
  header .open .btn-close {
    display: block;
    z-index: 300; }
  header .main-nav {
    display: none; }
  .logo {
    text-align: center; }
    .logo img {
      width: 180px; }
  .copyright {
    font-size: 12px; }
  .feedback__title {
    font-size: 36px; }
  .partners__subtitle {
    font-size: 18px;
    padding-bottom: 0; }
  .partners__title {
    font-size: 36px;
    margin-bottom: 36px;
    margin-top: 200px; }
  .partners {
    background-image: url(../images/partners_bg_tablet.png);
    background-position: center top;
    -webkit-background-size: cover;
            background-size: cover;
    padding-top: 100px; }
  .partners--left {
    padding-top: 60px;
    background-image: url(../images/partner_left.png);
    background-position: 80% 20%;
    background-repeat: no-repeat; }
    .partners--left:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      height: 66px;
      background: #fff;
      z-index: 10; }
  .partners--right {
    padding-top: 60px;
    background-image: url(../images/partner_right.png);
    background-position: 70px 20%;
    background-repeat: no-repeat; }
  .success__descr {
    width: 80%;
    padding-bottom: 126px; }
  .success {
    -webkit-background-size: 120% 120%;
            background-size: 120%;
    background-position: center 36%; }
  .success h2 {
    margin-bottom: 260px;
    font-size: 24px; }
  .brend-lincks {
    padding-bottom: 0;
    margin-bottom: 60px; }
    .brend-lincks img {
      max-width: 60%; }
    .brend-lincks.left li:not(:last-child) {
      padding-right: 20px; }
    .brend-lincks.right li:not(:first-child) {
      padding-left: 20px; }
  .trust {
    background-position: -80px center;
    padding: 54px 0 80px; }
    .trust h2 {
      font-size: 55px; }
    .trust br {
      display: none; }
  .trust__right-col {
    background: transparent;
    border: none;
    text-align: center;
    padding: 0; }
  .success::before {
    top: -40px; }
  .hero h1 {
    font-size: 60px; }
  .hero__left-col {
    padding-top: 40px;
    padding-bottom: 240px; }
  .hero .info {
    width: 100%;
    font-size: 17px;
    line-height: 26px; }
  .hero h1 {
    font-size: 70px;
    line-height: 1; }
  .hero .btn {
    display: inline-block;
    margin-right: 20px; }
    .hero .btn + .btn {
      margin-bottom: 14px; }
  .hero .info {
    font-size: 16px;
    line-height: 22px;
    width: 80%; }
  .hero .description {
    font-size: 24px;
    line-height: 30px;
    white-space: normal; }
    .hero .description br {
      display: none; }
  .animation-block {
    left: auto;
    right: 4%;
    top: 10%; } }

@media only screen and (max-width: 578px) {
  .feedback {
    margin-top: -290px; }
  .pop-up {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .pop-up .feedback__holder {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      -webkit-border-radius: 0;
              border-radius: 0; }
  .about__content {
    margin-bottom: 130px; }
  .about__image {
    width: 80%;
    margin: auto;
    float: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    margin-bottom: 30px; }
    .about__image img {
      -webkit-transform: translate(-14px, -26px);
          -ms-transform: translate(-14px, -26px);
              transform: translate(-14px, -26px); }
  .about__content p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px; }
    .about__content p:not(:last-child) {
      margin-bottom: 20px; }
  .about__benefits {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .about__benefits li {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
      .about__benefits li:not(:last-child) {
        margin-bottom: 30px; }
  .muve .partners__subtitle {
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 18px; }
  .muve__list {
    margin-bottom: 30px; }
    .muve__list .muve__item {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      padding-left: 60px;
      margin-left: 15px; }
  .muve__iframe {
    width: -webkit-calc(100% + 30px);
    width: calc(100% + 30px);
    margin-right: -15px;
    margin-left: -15px;
    height: 250px; }
    .muve__iframe iframe {
      height: 250px;
      -webkit-border-radius: 0;
              border-radius: 0; }
    .muve__iframe::before {
      -webkit-border-radius: 0;
              border-radius: 0; }
  .btn__muve {
    width: 70px;
    top: 50%; }
  .merchants {
    background-image: none;
    padding-bottom: 76px; }
  .merch__list {
    padding-top: 0;
    padding-bottom: 50px; }
  .merch__item {
    padding-left: 60px; }
  .merch__item:nth-child(odd) {
    margin-top: 20px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .merch__item:nth-child(even) {
    margin-top: 20px;
    margin-left: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .merch__item img {
    top: 15px;
    width: 48px; }
  .merch__item:nth-child(n):not(:last-child)::after {
    width: 0;
    height: 60%;
    left: 24px;
    top: auto;
    bottom: -15px;
    background: none;
    border-left: 3px dashed #ebebeb; }
  .syndication__gradient-text {
    margin-bottom: 20px; }
    .syndication__gradient-text span {
      font-size: 24px;
      margin-bottom: 34px;
      position: relative; }
      .syndication__gradient-text span:not(:last-child)::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 2px dotted #296dda; }
    .syndication__gradient-text .sep {
      font-size: 0;
      display: block;
      line-height: 0;
      margin: 5px; }
      .syndication__gradient-text .sep:not(:last-child)::after {
        display: none; }
  .iso {
    padding-bottom: 32px; }
  .iso-form {
    padding-top: 25px;
    padding-bottom: 30px; }
  .iso__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 22px; }
  .iso__title {
    font-size: 22px;
    margin-bottom: 16px; }
  .iso__form input {
    width: 100%;
    height: 42px;
    line-height: 42px; }
  .about__title {
    font-size: 30px;
    line-height: 30px;
    width: 80%;
    margin: auto;
    margin-top: 0; }
  .about {
    padding-bottom: 90px;
    padding-top: 120px;
    margin-top: -120px; }
  .muve__title {
    font-size: 36px;
    margin-bottom: 20px; }
  .iso__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .iso__content li {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
      .iso__content li:not(:last-child) {
        margin-bottom: 30px; }
  .contacts {
    padding-bottom: 50px; }
    .contacts::after {
      width: 164%;
      height: 400px; }
    .contacts .muve__title {
      font-size: 30px;
      margin-top: 250px;
      margin-bottom: 24px; }
    .contacts .contact__info {
      font-size: 16px;
      line-height: 24px; }
  .partners .partners__subtitle {
    padding-top: 46px;
    font-size: 16px;
    letter-spacing: 0.3em; }
  .partners__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 150px; }
  .partners--left {
    border: none;
    padding-right: 0;
    padding-bottom: 26px;
    padding-top: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center top; }
    .partners--left::before {
      width: -webkit-calc(100% + 30px);
      width: calc(100% + 30px);
      height: 2px;
      top: 100%;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      background: -webkit-linear-gradient(327deg, #11d3ae 0%, #17b8b9 23%, #2d5fe0 100%);
      background: -o-linear-gradient(327deg, #11d3ae 0%, #17b8b9 23%, #2d5fe0 100%);
      background: linear-gradient(123deg, #11d3ae 0%, #17b8b9 23%, #2d5fe0 100%); }
  .partners--right {
    padding-left: 0;
    padding-bottom: 26px;
    padding-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center top; }
  .container {
    overflow: hidden; }
  .hero {
    background: #fff url("../images/bg-menu_tablet.png") no-repeat center;
    background-position-y: -136px;
    -webkit-background-size: cover;
            background-size: cover;
    padding-bottom: 200px; }
    .hero .container {
      overflow: visible; }
    .hero h1 {
      font-size: 36px;
      text-align: center; }
    .hero .btn {
      z-index: 1;
      margin: auto;
      margin-bottom: 14px; }
    .hero .info {
      color: #fff;
      font-size: 12px;
      line-height: 17px;
      width: 70%;
      margin: auto; }
    .hero .description {
      display: block;
      font-size: 18px;
      width: 80%;
      margin: auto;
      margin-top: 86px;
      margin-bottom: 36px;
      white-space: normal;
      height: auto;
      padding: 0; }
      .hero .description::before {
        width: 31px;
        height: 97px;
        background-image: url(../images/arrow_drow_mobile.png);
        background-repeat: no-repeat;
        -webkit-background-size: contain;
                background-size: contain;
        left: -30px;
        top: -30px; }
  .trust h2 {
    font-size: 36px;
    white-space: normal;
    text-align: center; }
  .trust__right-col .text-white {
    font-size: 14px;
    text-align: justify;
    line-height: 24px; }
  .animation-block {
    display: none; }
  .hero__left-col {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
  .mobile-nav .logo img {
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .mobile-nav .btn-close, .mobile-nav .btn-menu {
    left: 16px;
    top: 30px; }
  .trust {
    background-position: -260px center; }
  .brend-lincks.left li:not(:last-child), .brend-lincks.right li:not(:first-child) {
    padding-right: 0;
    padding-left: 0; }
  .brend-lincks.right, .brend-lincks.left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .success {
    -webkit-background-size: 150% 150%;
            background-size: 150%;
    background-position: center; }
    .success h2 {
      margin-bottom: 160px; }
  .success__descr {
    width: 90%;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    padding-bottom: 30px; }
  .feedback__title {
    font-size: 30px; }
    .feedback__title::after {
      content: none; }
  .feedback__form .flex-cont {
    height: auto; }
  .feedback__form input, .feedback__form textarea {
    width: 100%;
    font-size: 12px; }
  .feedback__form textarea {
    line-height: 1;
    margin-top: 20px;
    padding-top: 8px; }
  .feedback__form button.btn {
    margin: 0;
    width: 100%;
    font-size: 14px; }
    .feedback__form button.btn:not(:last-child) {
      margin-bottom: 20px; }
  .footer {
    width: 90%;
    text-align: center;
    padding-bottom: 15px; }
    .footer .col-sm-hidden {
      display: none !important; }
    .footer .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      .footer .row .col-lg-2 {
        margin-bottom: 20px; }
  .social-lincks a {
    height: 30px; }
  .feedback__form button .text {
    padding-right: 15px;
    padding-left: 15px; }
  header .mobile-nav .logo.logo-desctop {
    display: none; }
    header .mobile-nav .logo.logo-desctop img {
      display: none; }
  header .mobile-nav .logo.logo-mini {
    display: block; }
    header .mobile-nav .logo.logo-mini img {
      width: 50px; }
  .iso-item__title {
    font-size: 22px;
    line-height: 1; } }

@media only screen and (max-width: 420px) {
  .hero {
    background-position-y: -190px; } }

@media only screen and (min-width: 578px) and (max-width: 767px) {
  .feedback {
    margin-top: -290px; }
  .merchants {
    background-image: none;
    padding-bottom: 76px; }
  .merch__list {
    padding-top: 0;
    padding-bottom: 50px; }
  .merch__item {
    padding-left: 60px; }
  .merch__item:nth-child(odd) {
    margin-top: 20px;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .merch__item:nth-child(even) {
    margin-top: 20px;
    margin-left: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  .merch__item img {
    top: 15px;
    width: 48px; }
  .merch__item:nth-child(n):not(:last-child)::after {
    width: 0;
    height: 60%;
    left: 24px;
    top: auto;
    bottom: -15px;
    background: none;
    border-left: 3px dashed #ebebeb; }
  .partners .partners__subtitle {
    padding-top: 46px;
    font-size: 16px;
    letter-spacing: 0.3em; }
  .partners__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 150px; }
  .partners--left {
    border: none;
    padding-right: 0;
    padding-bottom: 26px;
    padding-top: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center top; }
    .partners--left::before {
      width: -webkit-calc(100% + 30px);
      width: calc(100% + 30px);
      height: 2px;
      top: 100%;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      background: -webkit-linear-gradient(327deg, #11d3ae 0%, #17b8b9 23%, #2d5fe0 100%);
      background: -o-linear-gradient(327deg, #11d3ae 0%, #17b8b9 23%, #2d5fe0 100%);
      background: linear-gradient(123deg, #11d3ae 0%, #17b8b9 23%, #2d5fe0 100%); }
  .partners--right {
    padding-left: 0;
    padding-bottom: 26px;
    padding-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-position: center top; }
    .partners--right .feedback__title {
      font-size: 30px; }
    .partners--right::after {
      content: none; }
  .feedback__form .flex-cont {
    height: auto; }
  .feedback__form input, .feedback__form textarea {
    width: 100%;
    font-size: 12px; }
  .feedback__form textarea {
    line-height: 1;
    margin-top: 20px;
    padding-top: 8px; }
  .feedback__form button.btn {
    margin: 0;
    width: 100%;
    font-size: 14px; }
    .feedback__form button.btn:not(:last-child) {
      margin-bottom: 20px; }
  .footer {
    width: 90%;
    text-align: center;
    padding-bottom: 15px; }
    .footer .col-sm-hidden {
      display: none !important; }
    .footer .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
      .footer .row .col-lg-2 {
        margin-bottom: 20px; }
  .social-lincks a {
    height: 30px; }
  .trust h2 {
    font-size: 36px;
    text-align: center; }
  .hero h1 {
    font-size: 48px; }
  .hero .info {
    color: transparent; }
  .hero__left-col {
    padding-top: 0;
    padding-bottom: 100px; }
  .hero .description {
    margin-top: 0;
    right: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -300px;
    text-align: left;
    font-size: 22px; }
  .contacts {
    padding-bottom: 50px; }
  .iso {
    padding-bottom: 32px; }
  .iso-form {
    padding-top: 25px;
    padding-bottom: 30px; }
  .iso__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 22px; }
  .iso__title {
    font-size: 22px;
    margin-bottom: 16px; }
  .iso__form input {
    width: 100%;
    height: 42px;
    line-height: 42px; }
  .pop-up .feedback__holder {
    width: 100%;
    -webkit-border-radius: 0;
            border-radius: 0; }
  .pop-up .iso__form input {
    width: 48%; }
  .about__title {
    line-height: 30px;
    width: 80%;
    margin: auto;
    margin-top: 0; }
  .about {
    padding-bottom: 90px;
    padding-top: 120px;
    margin-top: -120px; }
  .muve__title {
    font-size: 36px;
    margin-bottom: 20px; }
  .iso__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .iso__content li {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
      .iso__content li:not(:last-child) {
        margin-bottom: 30px; }
  .about__title {
    font-size: 36px; }
  .about__benefits {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .about__benefits li {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; }
      .about__benefits li:not(:last-child) {
        margin-bottom: 30px; }
  .muve .partners__subtitle {
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 18px; }
  .muve__list {
    margin-bottom: 30px; }
    .muve__list .muve__item {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%;
      padding-left: 60px;
      margin-left: 0; }
  .muve__iframe {
    width: 100%;
    height: 300px; }
    .muve__iframe iframe {
      height: 300px; }
  .about__image img {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  .pop-up .feedback__holder {
    width: 100%;
    -webkit-border-radius: 0;
            border-radius: 0;
    padding-right: 32px;
    padding-left: 32px; }
  .pop-up .iso__form input {
    width: 100%; } }

@media only screen and (min-width: 440px) and (max-width: 578px) {
  .hero .description {
    margin-top: 0;
    right: 50%;
    text-align: center;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    bottom: -200px;
    font-size: 22px; }
  .hero .btn + .btn {
    display: block;
    margin-bottom: 14px; }
  .success h2 {
    margin-bottom: 200px; } }

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  .hero h1 {
    font-size: 68px; }
  .hero__left-col {
    padding-top: 35px;
    padding-bottom: 125px; }
  .animation-block {
    width: 56%; }
    .animation-block::before {
      width: 110%;
      bottom: 28%; }
  .merch__list {
    padding-top: 0; }
  .iso {
    padding-top: 0; }
  .hero .description {
    right: 0; }
  .partners--right {
    padding-left: 30px; }
  .partners--left {
    padding-right: 30px; }
  .partners__title {
    font-size: 56px; }
  .about__title {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 50px; }
  .about {
    padding-top: 150px;
    padding-bottom: 80px; } }

@media only screen and (min-width: 1279px) and (max-width: 1441px) {
  .hero h1 {
    font-size: 70px;
    line-height: 1; }
  .hero .btn {
    display: inline-block;
    margin-right: 20px; }
    .hero .btn + .btn {
      margin-bottom: 42px; }
  .hero .info {
    font-size: 20px;
    line-height: 30px;
    width: 48%; }
  .hero .description {
    margin-top: 0;
    text-align: center;
    top: 100%;
    bottom: auto;
    font-size: 24px;
    line-height: 30px;
    white-space: normal; }
    .hero .description br {
      display: none; }
  .hero__left-col {
    padding-top: 40px;
    padding-bottom: 100px; }
  .animation-block {
    top: 0; }
    .animation-block::before {
      bottom: 28%; }
  .trust {
    padding-top: 44px;
    padding-bottom: 70px; }
    .trust h2 {
      line-height: 1;
      margin-bottom: 0; }
  .trust__left-col {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .success .brend-lincks {
    padding-top: 26px;
    padding-bottom: 80px; }
  .about {
    padding-top: 150px;
    padding-bottom: 80px; }
  .about__title {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 50px; }
  .contacts .muve__title {
    font-size: 48px;
    margin-bottom: 40px; }
  .contacts::after {
    width: 76%; }
  .contact__info {
    font-size: 18px;
    line-height: 30px; }
  .muve__title {
    font-size: 35px;
    margin-bottom: 18px; }
  .muve .muve__title {
    font-size: 42px;
    margin-bottom: 18px; }
  .iso__content li .image {
    height: 110px;
    width: 100%; }
  .iso__content li .image.img-small img {
    width: 50%; }
  .iso-item__title {
    font-size: 25px;
    line-height: 30px; }
  .iso-form {
    padding: 52px 0; }
  .iso__subtitle {
    margin-bottom: 50px; }
  .merch__list {
    width: 80%;
    margin: auto;
    padding-top: 40px; }
  .merch-list__title {
    font-size: 45px;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 38px; }
  .merch__item {
    padding-top: 0; }
    .merch__item img {
      width: 50px; }
  .merch-list__cont {
    font-size: 15px;
    line-height: 22px; }
  .merch__item:nth-child(even) {
    margin-top: 220px; }
  .merch__item:nth-child(2)::after {
    width: 260px;
    top: 0; }
  .merch__item:nth-child(1)::after {
    width: 300px;
    left: 100%;
    top: 0; }
  .benefits__title {
    font-size: 24px;
    line-height: 1; }
  .muve .partners__subtitle {
    font-size: 20px;
    letter-spacing: 0.4em;
    padding-bottom: 40px;
    padding-top: 20px; }
  .about.about-us {
    padding-top: 150px;
    padding-bottom: 200px; } }
